div{
    text-align: center;
    color:red ;
    font-size: 30px;
    font-family: cursive;

}
table{
    border: 2px solid blue;
    padding: 5px;
    border-collapse: collapse;
    
}

th,td{
    border: 1px solid blue;
    padding: 5px;
    text-align: center;
    

}
th{
background-color: lightblue;
}